/.idea/
/spectra_image_simSize10_stdev3
/spectra_image_simSize10_stdev3_2
/spectra_image_simSize10_stdev3_doubleLine
/spectra_image_simSize10_stdev3_doubleLine_better
/Spectra_image_sum.fit
/__pycache__/
/petitRADTRANS-master/
*.png
*.pgf
